.skills{
    /*width: 100vw;
    height: 25vh;
    background: url(../../img/SoftSkills.jpg) no-repeat center;
    background: #b7cad3;*/
    background: #c6cbce;
    background: url(../../img/piedras.jpg) no-repeat center;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
}
@media screen and (min-width:0) {
    .skills{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width:992px) {
    
}
